!! Roughly pencil theme colors

!! color blue    #20bbfc
!! color pink    #fb007a
*background:                      #f1f1f1
*foreground:                      #424242
*fading:                          8
*fadeColor:                       black
*cursorColor:                     #f1f1f1
!! 20bbfc
*pointerColorBackground:          #2B2C2B
*pointerColorForeground:          #16A085

!! black dark/light
*color0:                          #212121
*color8:                          #424242

!! red dark/light
*color1:                          #c30771
*color9:                          #fb007a

!! green dark/light
*color2:                          #10a778
*color10:                         #5fd7af

!! yellow dark/light
*color3:                          #a89c14
*color11:                         #f3e430

!! blue dark/light
*color4:                          #008ec4
*color12:                         #20bbfc

!! magenta dark/light
*color5:                          #523c79
*color13:                         #6855de

!! cyan dark/light
*color6:                          #20a5ba
*color14:                         #4fb8cc

!! white dark/light
*color7:                          #d9d9d9
*color15:                         #424242
